{% extends 'basebs.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Prenotazione di {{show.titolo}} {% endblock %}

{% block header1 %}
  <h1>{{show}}</h1>
{% endblock %}

{% block content %} 

{% if "NO_ERRORS" == errore %}
<div class="alert alert-success" role="alert">
  La prenotazione è andata a buon fine: hai prenotato {{ seats_count }} posti in {{ seats_type }} per lo spettacolo {{ show.title }}
{% else %}
<div class="alert alert-danger" role="alert">
  Prenotazione non avvenuta correttamente: {{ errore }}
{% endif %}
</div>


{% endblock %}

