{% extends "basebs.html" %}

{% block title %}Prenotazione{% endblock title %}
{% block header1 %}
    <h1>{{show.title}}</h1>
{% endblock header1 %}
{% block content %}

    <style>

        .showcase {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      background: rgba(0,0,0,0.1);
      padding: 5px 10px;
      border-radius: 5px;
      color: #777;
    }

    .screen {
      background: #000;
      height: 40px;
      width: 70%;
      margin: 15px 0;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px rgba(255,255,255,0.7);
    }

    .square_free{
        height: 20px;
        width: 30px;
        background: lightgrey;
    }

    .square_occupied{
        height: 20px;
        width: 30px;
        background: red;
    }

    .square_selected{
        height: 20px;
        width: 30px;
        background: green;
    }

    .square_platea{
        height: 20px;
        width: 30px;
        background: lightgrey;
    }

    .square_galleria{
        height: 20px;
        width: 30px;
        background: pink;
    }


    </style>




    <h2>Spettacolo: {{show.title}} </h2>
    <br>
    <ul class="showcase">
        <li>
          <div class="square_platea"></div>
          <small>Platea</small>
        </li>
        <li>
          <div class="square_galleria"></div>
          <small>Galleria</small>
        </li>
        <li>
          <div class="square_free"></div>
          <small>Libero</small>
        </li>
        <li>
          <div class="square_occupied"></div>
          <small>Occupato</small>
        </li>
        <li>
          <div class="square_selected"></div>
          <small>Selezionato</small>
        </li>
    </ul>
    <div class="screen">
        <h4 style="color: white;"> Palco </h4>
    </div>

    <div>
        <table id="seatsTable_id" style="border-collapse: separate; border-spacing: 10px;">
        </table>
        <form id="bookingForm_id" action="{{ request.path }}" method="POST"> {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-success">Salva prenotazione</button>
        </form>
    </div>
{% load static %}
<script type="text/javascript" src={% static "/js/make_booking.js" %}></script>

{% endblock content %}